.schema-item {
  position: relative;
  
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #909399;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

  &:first-child,
  :not(.schema-item):not(.k-schema-group)+& {
    border-top: 1px solid #909399;
  }

  &.changed .actions {
    border-left-color: #409EFF;
  }

  &.required .actions {
    border-left-color: #F56C6C;
  }

  &.invalid .actions {
    border-left-color: #E6A23C;
  }
}
.k-schema-header {
  margin: 1rem 0 0.5rem 0;
}
