.schema-item {
  position: relative;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--el-border-color);
  transition: var(--color-transition);

  &:first-child,
  :not(.schema-item):not(.k-schema-group)+& {
    border-top: 1px solid var(--el-border-color);
  }

  &.changed .actions {
    border-left-color: var(--el-color-primary);
  }

  &.required .actions {
    border-left-color: var(--el-color-error);
  }

  &.invalid .actions {
    border-left-color: var(--el-color-warning);
  }
}
